html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #086825;
}
body {
    margin: 0;
}
.content {
    padding: 10px;
    margin-bottom: 15px;
}
.oper {
    max-width: 450px;
    margin: 0 auto;
}
.card-grid {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.card {
    background-color: white;
    border: 2px solid #000;
    border-radius: 20px;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #03549f
}
.card-subtitle{
    font-size: 1.3rem;
    font-weight: bold;
    color: #03549f
}
.reading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #19a212;
}
.button {
    padding: 5px 5px;
    font-size: 20px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #0f8b8d;
    border: none;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button:active {
     background-color: #0f8b8d;
     box-shadow: 2 2px #CDCDCD;
     transform: translateY(2px);
}
.state {
     font-size: 1.3rem;
     color:#8c8c8c;
     font-weight: bold;
}
input[type=number] {
    font-size: 1.3rem;
}
.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
}