.wrapper{
    /* height: 120px; */
    /* min-width: 380px; */
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .wrapper span{
    width: 100%;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .wrapper span.num{
    font-size: 20px;
    color: black;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }